In [7]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

spark = SparkSession.builder\
.master("local[4]")\
.appName("Online Retails pt2")\
.config("spark.executor.memory","2g")\
.config("spark.driver.memory","2g")\
.getOrCreate()

sc = spark.sparkContext

In [14]:
df_csv = spark.read \
.option("header", "True")\
.option("inferSchema", "True")\
.option("sep", ";")\
.csv("C:/Users/Casper/Desktop/Online Retail.csv")

In [16]:
df_csv.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: string, CustomerID: int, Country: string]

In [17]:
df_csv.createOrReplaceTempView("tablo1")

In [20]:
spark.sql(""" 
SELECT * from tablo1
""").show(10)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7,65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4,25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1,69|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 10 rows

In [26]:
spark.sql("""
SELECT Country , SUM(UnitPrice) UnitPrice from tablo1
GROUP BY Country
ORDER BY UnitPrice DESC
""").show(10)

+--------------+---------+
|       Country|UnitPrice|
+--------------+---------+
|United Kingdom|  94911.0|
|          EIRE|   9423.0|
|       Germany|   7930.0|
|        France|   6288.0|
|         Spain|   2927.0|
|       Finland|   1578.0|
|       Belgium|   1503.0|
|        Norway|   1451.0|
|   Switzerland|   1267.0|
|        Sweden|    921.0|
+--------------+---------+
only showing top 10 rows